@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


.button {
    background-color: #262A2D;
    font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
    border: none;
    border-radius: 4pt;
    color: white;
    padding: 8pt;
    width: 208pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20pt;
    margin: -2px auto;
    cursor: grab;
}

input[type=text] {
  background-color: #3CBC8D;
  font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
  color: white;
  width:200pt;
  height : 40pt;
  font-size : 20pt;
  text-align : center
}
